/* ==================
    general layout
===================== */

/* about */
.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  /* grid-auto-rows: min-content; */
  grid-column-gap: 3em;
}

@media (min-width: 800px) {
  .main-grid {
    /* smaller min max helps prevent side scrolling */
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 1200px) minmax(1em, 1fr);
  }
}

/* ==================
    template page
===================== */
.page-title {
  font-size: 1.5rem;
  grid-column: 2/-2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.page-title::after {
  content: "";
  display: block;
  width: 110px;
  height: 20px;
  background: #ffe600;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

#personal_website::after {
  content: "";
  display: block;
  width: 200px;
  height: 20px;
  background: #ffe600;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

#soundcloud_redesign::after {
  content: "";
  display: block;
  width: 250px;
  height: 20px;
  background: #ffe600;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

#nonprofit::after {
  content: "";
  display: block;
  width: 370px;
  height: 20px;
  background: #ffe600;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

#brochure::after {
  content: "";
  display: block;
  width: 150px;
  height: 20px;
  background: #ffe600;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

#uci-ics::after {
  content: "";
  display: block;
  width: 300px;
  height: 20px;
  background: #ffe600;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

.section-title {
  font-size: 1.5rem;
  margin: 2.5em 0 1.5em 0;
}

.section-header {
  font-size: 1.25rem;
  margin: 1em 0 1em 0;
}

.subsection-title {
  font-size: 1.15rem;
  margin: 1em 0 1em 0;
}

.secondary-title {
  font-size: 1.15rem;
}

.main-text {
  grid-column: 2/-2;
}

.main-paragraph {
  margin: 0;
}

.section-title {
  grid-column: 2/-2;
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 10px 0 0;
  background: #ffa300;
  justify-self: center;
}

.main-image {
  object-fit: cover;
  max-width: 100%;
  border: 0.4px solid black;
  margin: 1em 0;
  justify-self: center;
}

.project {
  padding: 3em 0em;
}

.label-item {
  display: block;
  line-height: 2;
}

/* uncommment */
/* .flex {
  display: flex;
  justify-content: center;
} */

.flex {
  text-align: center;
}

.center {
  text-align: center;
}

#wireframes,
#mockups {
  width: 60%;
}

/* .col {
  grid-column: 2 / -2;
  justify-self: center;
} */

@media (min-width: 800px) {
  .page-title {
    font-size: 1.5rem;
    grid-column: 2/-2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.5em;
  }

  .main-text {
    grid-column: 2/-2;
  }

  .main-paragraph {
    margin: 0;
  }

  .main-image {
    object-fit: cover;
    max-width: 70%;
    /* max-height: 50%; */
    margin: 1em 0 2em 0;
    justify-self: center;
  }

  .section-title {
    margin: 2.5em 0 1.5em 0;
  }

  .section-header {
    margin: 1em 0 1em 0;
  }

  .subsection-title {
    margin: 1em 0 1em 0;
  }

  .secondary-title {
    margin: 1em 0 1em 0;
  }

  .about-me {
    padding: 3em 0;
  }

  #wireframes,
  #mockups {
    width: 30%;
  }
}

/* use display flex if wanna split, otherwise 100% - 0% */
/* .flex-main {
  display: flex;
  justify-content: space-between;
}

.flex-1 {
  width: 48%;
  border: 1px solid green;
}

.flex-2 {
  width: 48%;
  border: 1px solid green;
} */
