/* ==================
    general layout
===================== */

.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  /* grid-auto-rows: min-content; */
  grid-column-gap: 3em;
}

@media (min-width: 800px) {
  .main-grid {
    /* smaller min max helps prevent side scrolling */
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(150px, 600px)) minmax(1em, 1fr);
  }
}

/* =====================
    project section
======================== */
.work {
  padding: 1.5em 0em;
  /* text-align: center; */
  grid-gap: 2em 0em;
}

.page-title {
  font-size: 1.5rem;
  grid-column: 2/-2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
}

.page-title::after {
  content: "";
  display: block;
  width: 55px;
  height: 20px;
  background: #ffe600;
  margin-left: auto;
  margin-right: auto;
  margin-top: -18px;
}

.work-image {
  object-fit: cover;
  max-width: 100%;
  margin-top: 2.5em;
}

#margin-top {
  margin-top: 0;
}

.description-title,
.description-date,
.description-paragraph,
.description-button {
  grid-column: 1/-1;
}

.description-title {
  margin: 0 0 1em 0;
  font-size: 1.25rem;
}

.description-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 10px 0 0;
  background: #ffa300;
}

#uci_ics {
  max-height: 500px;
}

.description-paragraph {
  margin: 1em 0;
}

.col {
  grid-column: 2 / -2;
  justify-self: center;
}

@media (min-width: 800px) {
  .work {
    padding: 3em;
    grid-gap: 3em 3em;
  }

  .work-image {
    margin-top: 0em;
  }

  .col:first-child {
    grid-column: 1/-1;
  }

  .col:nth-child(2) {
    grid-column: 2 / span 1;
  }

  .col:nth-child(3) {
    grid-column: 3 / span 1;
  }

  .col:nth-child(4) {
    grid-column: 2 / span 1;
  }

  .col:nth-child(5) {
    grid-column: 3 / span 1;
  }

  .col:nth-child(6) {
    grid-column: 2 / span 1;
  }

  .col:nth-child(7) {
    grid-column: 3 / span 1;
  }

  .col:nth-child(8) {
    grid-column: 2 / span 1;
  }

  .col:nth-child(9) {
    grid-column: 3 / span 1;
  }

  .col:nth-child(10) {
    grid-column: 2 / span 1;
  }

  .col:nth-child(11) {
    grid-column: 3 / span 1;
  }

  .col:nth-child(12) {
    grid-column: 2 / span 1;
  }

  .col:nth-child(13) {
    grid-column: 3 / span 1;
  }

  .col:nth-child(14) {
    grid-column: 2 / span 1;
  }

  .col:nth-child(15) {
    grid-column: 3 / span 1;
  }

  .btn {
    padding: 0;
    justify-self: flex-start;
  }

  .section-title {
    margin-top: 0;
    margin-bottom: 2.5em;
  }

  .description-button {
    padding: 0.5em 1.75em;
    align-self: flex-start;
  }

  #uci_ics {
    max-height: 500px;
  }

  .description-paragraph {
    margin: 1em 0 1.5em 0;
  }
}
